header, .main-section {
    background-color: rgb(194, 194, 196);
    padding: 1rem;
    margin: 0rem;
}

a{
    color: rgba(0, 39, 255, 0.76);
}
a:visited{
    color: #6f05c5;
}

div{
    padding: 1rem;
    margin: 1rem;

}

.sub-section{
    padding: 0.5rem;
    margin-left: 1rem;
    background-color: #a09fa1;
}

html, body{
    margin: 4rem;
    background-color: white;
}
h2{
    margin: 0.5rem;
    color: black;
}
p{
    text-align: justify;
}

h3{
    margin: 1rem;
}

h1,h4{
    color: black;
}
